html{
  margin: 0;
  padding: 0;
  background-color: black;
}

.display div{
  display:inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;

}

.card{
  width: 300px;
  color: white;
  margin: 20px 5px;
  background-color: rgb(102, 42, 158);
  border: 5px;
  border-style:solid;
  border-radius: 10px;
  border-color:rgb(236, 102, 225);
}